<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="car in vm.cars">
            <td>{{car.name}}</td>
            <td><img ng-src="{{car.image}}" class="img-rounded" ng-animate-swap="car.image" /></td>
            <td>
                <car-rating value="car.rating" max="5" set-rating="vm.setRating(car, value)">
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                </car-rating>
            </td>
            <td>

                <button class="btn btn-default" ng-click="vm.upRating(car)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                <button class="btn btn-default" ng-click="vm.downRating(car)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                <!--<a ng-link="['Details', {id: car.id}]" " class="btn btn-default ">
                    <span class="glyphicon glyphicon-zoom-in "></span>
                </a>-->

                <a ng-click="vm.goTo(car.id)" class="btn btn-default ">
                    <span class="glyphicon glyphicon-zoom-in "></span>
                </a>
            </td>
        </tr>
    </table>


<accordion>
    <accordion-panel heading="Panel 1"> Panel 1</accordion-panel>
    <accordion-panel heading="Panel 2">Panel 2</accordion-panel>
</accordion>

</div>